body {
    background-color: #d1d1d1;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    color: rgb(179, 76, 2);
  }
  
  .center-image {
    width: 100%;
    /* display: block; */
    margin: 0 auto;
}