body {
  background-color: #d1d1d1;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


.headline {
  text-align: center;
  color: rgb(179, 76, 2);
}

.wrapper {
  padding: 10px 25px;
}

.center-image {
  width: 100%;
  /* display: block; */
  margin: 0 auto;
}


@media screen and (max-width: 480px) {
   
  .headline {
  text-align: center;
  color: rgb(179, 76, 2);
  font-size: 1.5em;
}

}

@media screen and (max-width: 360px) {
   
  .headline {
  text-align: center;
  color: rgb(179, 76, 2);
  font-size: 1.3em;
}

}