body {
  background-color: #d1d1d1;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 10px 25px;
}

.headline {
  text-align: center;
  color: rgb(179, 76, 2);
  font-size: 1.5em;
  }

.bold_Text {
  text-align: start;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding:20px
}

.small_Text {
  text-align: start;
  color: rgb(0, 0, 0);
  padding:20px;
}

.center-image {
  width: 100%;
  /* display: block; */
  margin: 0 auto;
}